.up {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: #fff;
    background-color: #fe2020;
    position: fixed;
    bottom: 20px;
    right: 30px;
    text-align: center;
    padding-top: 12px;
    font-size: 20px;
}